.devicePage{
    flex:1 1 auto;
    display: flex;
}
.devicePage__loaderBox{
    flex:1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.devicePage__deviceInfo{
    width: 100%;
    margin: 30px 0;
    display:flex;
}
/**/
.devicePage__Сharacteristics_Hr{
   border-color: rgb(151, 149, 149);
   margin: 25px 0;
}
.devicePage__Сharacteristics_over{
    margin-top:'15px';
    text-decoration:'underline dotted';
    line-height:'1.5';
    text-underline-offset: 5px;
    color: rgb(218, 217, 217);
}
.devicePage__Сharacteristics_over:hover{
    cursor:pointer;
    user-select: none;
}



