.Loader{
    border-radius: 50%;
    border: 2px dashed white;
    animation: loader_animation 1s ease-out infinite;
}

@keyframes loader_animation{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}